---
layout: page
title: blog
permalink: /blog/
---

{% comment %}
for a by-category post list:

  {% for category in site.categories %}
    <h3> {{ category[0] }} </h3>
    {%- for post in category.last -%}

      POST RENDER LOGIC

    {%- endfor -%}
  {%- endfor -%}

{% endcomment %}

<ul class="post-list">
  {%- for post in site.posts -%}
    <li>
      <div class="post-info">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <div class="post-title">
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </div>
        <div class="post-meta">{{ post.date | date: date_format }}</div>
      </div>
      <div class="post-exerpt">
        {{ post.excerpt }}
      </div>
      <div class="post-tags">
        <ul class="post-tag-list">
          {% for tag in post.tags %}
          <li> {{tag}} </li>
          {%- endfor -%}
        </ul>
      </div>
    </li>
  {%- endfor -%}
</ul>

<div class="contact-boxes">
  <p class="rss-subscribe">(there's an <a href="{{ "/feed.xml" | relative_url }}">RSS</a>)</p>
</div>
