.contact a img {
    height: 56px;
}

div.contact-boxes {
    display: flex;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
}

div.contact-boxes div.contact {
    margin: 16px;
}

