$header-height: 64px;

header#site-header {
    position: fixed;
    height: $header-height;
    top: 0;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    -ms-transition: .5s;
    width: 100%;
    left: 0;
    z-index: 65500;

    .title {
        display: flex;
        font-size: 28px;
        padding: 0 32px;
        min-width: 128px;
    }

    ul {
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        min-width: 300px;
        justify-content: flex-start;
        padding-left: 32px;
    }

    ul li {
        margin-right: 16px;
        display: inline-block;
    }

    .hidden {
        top: -72px;
        transition: .2s;
    }

    a {
        text-decoration: none;
        color: #555;
        text-align: center;
    }

    a:hover {
        color: #666;
    }

    div#header-background {
        position: absolute;
        width: 100%;
        height: $header-height;
        background-color: rgba(255, 255, 255, .95);
        z-index: -1;
        border-bottom: 1px solid #ECECEC;
    }

    nav {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
        height: 100%;
    }
}

div#header-underlay {
    height: $header-height;
}